*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-height: 100%;
}
body{
    font-family: Tahoma;
    font-size: 18px;
    background-image: url(../img/incap\ se\ invencible2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Sección header */
#header {
    background-color: lightskyblue;
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; /*Horizontal*/
    align-items: center; /*Vertical*/
    grid-area: header; /*Nombre contenedor css grid */
}
ul{
    padding: 0;
    margin: 0 1px;
}
lista{
    list-style: none; /*Quita viñetas*/
    margin: 0.5px;
    font: bold 12px verdana;
}
a{
    color: white;
    text-decoration: none; /*Quita subrayado*/
}
/* Sección estilos nav barra menu */
#menu{
    grid-area: nav; /*Nombre contenedor css grid*/
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/* Seccion estilos barra submenu */
.menuB>li{
    position: relative;
    display: inline-block;
}
.menuB>li>a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menuB li a:hover{
    color: lightsalmon;
    transition: all .3s;
}   /*Evento Css al pasar el mouse*/
.submenu{
    position: absolute;
    background: blue;
    width: 120%;
    display: none;  /*Se mantiene oculto por defecto*/
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menuB li:hover .submenu{ /*Evento de mostrar el submenu al pasar mouse*/
    display: block;
    z-index: 100; /*Capa superiór en pagina web*/
}
/* Sección de estilos buscarbox */
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: 0px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: ease 0.8s;
}
.buscarbox input:hover{ /*Evento para ampliar ancho al pasar mouse*/
    width: 150px;
    padding-left: 18px;
    outline: none; /*Quitar bordes*/
}
/* Sección de contenido <section> y <article>*/
#main{
    grid-area: main;
    border: 2px solid green;
    border-radius: 22px;
    max-width: 100%; /*Adaptar a cualquier dispositivo*/ 
    height: auto; /*Adaptar a cualquier dispositivo*/
    background-color: rgba(255, 255, 255, 0.6); /*Efecto glass*/
    backdrop-filter: blur(5px); /*Efecto glass*/
}
figure{
    display: inline;
    margin: 45px;
    padding: 5px;
}
/* Sección esstilos <article> (iconos de escuelas incap) */
.programa{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 45%;
    height: 200px;
    position: relative;
    border: qpx solid black;
    border-radius: 20px;
}
section article{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    margin: 20px;
}
/* Sección <aside> barra lateral */
#sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
}
iframe{
    max-width: 100%;
    height: auto;
}
/*Sección estilo footer*/
#footer{
    grid-area: footer;
    padding-top: 20px;
    border: 2px solid yellowgreen;
    border-radius: 22px;
    clear: both; /*Elimina flotamiento parte superior*/
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
}
#redes a{
    padding: 5px;
    margin: 0px;
}
#redes a i:hover{
    transform: scale(1.5); /*Animación e agrandar el icono al pasar el mouse*/
}
/* Estilos a iconos fontawesome redes sociales */
i[clas^="fa"]{
    color: grey;
    font-size: 18px;
}
i[class^="fab"]{
    color: grey;
    font-size: 30px;
    border: 1px solid transparent;
    margin: 0px;
}
/* Sección css grid para grid container */
#grid-container > * {
    text-align: center;
    box-shadow: 1px 1px 7px 0px rgba(0, 0,0, 0.75);
}
/* CSS GRID contenedor Vista PC 3 columnas */
#grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template: 
    "header header header" 150px
    "nav nav nav" 50px
    "main main sidebar" 300px
    "main main sidebar" 300px
    "main main sidebar" 250px
    "footer footer footer" 150px /
    1300px 220px 350px;
}
/*  Sección css vista tablet 2 columnas */
@media(max-width: 1024px){
    #grid-container{
        grid-template: 
        "header header" 170px
        "nav main" 800px
        "nav main" 700px
        "sidebar sidebar" 650px
        "footer footer" 100px /
        250px 620px;
        font-size: 75%;
    }
    #menu{
        background-color: blue;
        border-radius: 22px;
        display: block;
        padding: 45px;
        margin: 40px;
        height: auto;
        text-align: center;
    }
    #main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /*Autoajuste del elemento en el contenedor*/
        max-width: 100%;
    }
    .programa{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
        border: 1px solid black;
    }
    iframe{
        max-width: 100%;
        height: auto;
    }
    .buscarbox{
        display: block;
        padding: 5px;
    }
}
/* Sección css grid vista celular 1 columna */
@media (max-width: 640px){
    #grid-container{
        grid-template: 
        "header" 150px
        "nav" 50px
        "main" 1120px
        "sidebar" 800px
        "footer" 100px /
        500px;
        font-size: 60%;
    }
    /* Nota: El contenedor nav será ocultado y reemplazado por icono 3 lineas */
    #menu{
        display: none;
    }
    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
    }
    .programa{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
        border: 1px solid black;
    }
    iframe {
        max-width: 100%;
        height: auto;
    }
    .buscarbox{
        display: none; /*Se oculta lupa y buscador*/
    }
}